{% extends "ramup/base.html" %}
{% load static %}
{% load ramup_tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="card" id='main_card'> 
    
</div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="polite" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body">
            <p id="content_liveToast"></p>
            <p id="content_liveToast_City"></p>
            <p id="content_liveToast_Age"></p>
        </div>
    </div>
</div>



<script src="{% static 'ramup/js/questionnaire.js' %}"></script>
{% endblock %}